@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body {
  display: grid;
    --orientation: landscape;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 0.0rem;
  box-sizing: border-box;
  margin: 0;
  font-family: 'Merriweather', serif;
  /* Without a specified height, % units in children are meaningless.
           * Use min-height so body can grow larger - without it, scrolling
           * may break;
          min-height: 100vh;
           */
  height: 100vh;
  overflow: hidden;
  scrollbar-color: var(--dim_0) var(--bg_2);
}
p {
  text-align: justify;
}
h1,
h2 {
  text-align: center;
}
.hidden {
  display: none !important;
}
.infront {
  z-index: 1;
}
.easein { /* cubic-bezier(0.42, 0, 1, 1) */
  transition-timing-function: ease-in;
}
.easeout { /* cubic-bezier(0, 0, 0.58, 1) */
  transition-timing-function: ease-out;
}
.unselectable {
  -webkit-user-select: none;
  /* Safari */
  -ms-user-select: none;
  /* IE 10 and IE 11 */
  user-select: none;
  /* Standard syntax */
}
.centered {
  text-align: center;
}
.highlighted {
  background: var(--bg_1);
  color: var(--fg1);
}

.page-holder {
  display: none !important;
}
.even-page, .odd-page {
  justify-self: stretch;
  min-width: 22rem;
  /* max-width: 44rem; */
  overflow-x: hidden;
  overflow-y: auto;
}
.even-page {
  border-right: 1px solid;
}
.page-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}
.page {
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--bg_0);
  transform: rotate(0deg);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: linear;
}
.even-page .page {
  transform-origin: bottom right;
}
.odd-page .page {
  transform-origin: top left;
}
.title.page h1 {
  margin-top: 7rem;
}
.title.page .author {
  font-style: italic;
  text-align: center;
}
.page p,
.page h1,
.page h2,
.page h3 {
  max-width: 44rem;
  padding-left: 2rem;
  padding-right: 2rem;
}
.even-page .page p,
.even-page .page h1,
.even-page .page h2,
.even-page .page h3 {
  margin-left: auto;
}
.odd-page .page p,
.odd-page .page h1,
.odd-page .page h2,
.odd-page .page h3 {
  margin-right: auto;
}
.midturn {
  transform: rotateY(89.9deg) !important;
}

.animation-control {
  display: none;
  position: absolute;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  padding-right: 0.3rem;
  border-radius: 0.5rem;
  bottom: 0;
  left: 50%;  /* 50% of parent */
  transform: translate(-50%, 0);  /* 50% of this element */
  width: 72%;
  max-width: 40rem;
  --frac: 0;
  opacity: 1;
  transition: opacity 0s;
}
.animation.page + .animation-control {
  display: block;
}
.animation-control.fade {
  opacity: 0.1;
  transition: opacity 1s;
}
.animation-control:hover {
  opacity: 1;
  transition: opacity 0s;
}
.play-pause {
  display: block;
  float: left;
  width: 2.5rem;  /* extra 0.5 for fa-fw fixed width glyphs */
  height: 2rem;
  margin-right: 0.7rem;
  cursor: pointer;
  color: var(--dim_0);
}
.play-pause:hover {
  color: var(--fg_1);
}
.slider {
  position: relative;
  display: inline-block;
  width: calc(100% - 3.2rem);  /* play-pause is 2.5 + 0.7 wide */
  height: 2rem;
}
.thumb {
  position: absolute;
  bottom: 0;
  left: calc((100% - 1.6rem) * var(--frac));
  margin-bottom: 0.2rem;
  height: 1.6rem;
  width: 1.6rem;
  border-radius: 0.8rem;
  background: var(--dim_0);
  cursor: pointer;
}
.thumb:hover {
  background: var(--fg_1);
}
.trough {
  margin-top: 0.75rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background: var(--bg_2);
}

#pg-backward, #pg-forward {
  display: grid;
  grid: 1fr / 1fr;
  color: var(--dim_0);
  cursor: pointer;
}
#pg-backward:hover, #pg-forward:hover {
  color: var(--fg_1);
}
#pg-backward {
  position: absolute;
  top: 0;
  left: 0;
}
#pg-forward {
  position: absolute;
  top: 0;
  right: 0;
}
#pg-forward i, #pg-backward i {
  padding: 0.5rem;
}

#pg-control {
  position: absolute;
  width: 4rem;
  height: 75%;
  left: calc(50% - 2rem);
  top: 50%;  /* 50% of bady */
  transform: translate(0, -50%);  /* 50% of this element */
  border-radius: 1rem;
  --frac: 0.5;
}
.pg-trough {
  margin-top: 0.75rem;
  margin-left: 1.65rem;
  width: 0.7rem;
  height: calc(100% - 1.5rem);
  border-radius: 0.25rem;
  background: var(--bg_2);
}
.pg-thumb {
  position: absolute;
  top: calc((100% - 2.5rem) * var(--frac) + 0.75rem);
  left: calc(50% - 1rem);
  height: 1rem;
  width: 2rem;
  border-radius: 0.5rem;
  background: var(--dim_0);
  cursor: pointer;
}
.pg-thumb:hover {
  background: var(--fg_1);
}

#info {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30rem;
  border-radius: 1rem;
  padding: 2rem;
  background: var(--bg_1);
  color: var(--fg_1);
  filter: drop-shadow(0.5rem 0.5rem 0.5rem)
}
#info .info-x {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

@media (max-aspect-ratio: 1/1) {
  body {
    --orientation: portrait;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .even-page, .odd-page {
    align-self: stretch;
  }
  .even-page {
    border-right: none;
    border-bottom: 1px solid;
  }
  .midturn {
    transform: rotateX(89.9deg) !important;
  }

  .page p,
  .page h1,
  .page h2,
  .page h3 {
    margin-left: auto;
    margin-right: auto;
  }

  #pg-forward {
    top: unset;
    right: unset;
    bottom: 0;
    left: 0;
  }
  #pg-control {
    width: 75%;
    height: 4rem;
    top: calc(50% - 2rem);
    left: 50%;  /* 50% of bady */
    transform: translate(-50%, 0);  /* 50% of this element */
  }
  .pg-trough {
    margin-left: 0.75rem;
    margin-top: 1.65rem;
    height: 0.7rem;
    width: calc(100% - 1.5rem);
  }
  .pg-thumb {
    left: calc((100% - 2.5rem) * var(--frac) + 0.75rem);
    top: calc(50% - 1rem);
    height: 2rem;
    width: 1rem;
  }
}
@media screen and (max-width: 720px) {
  :root {
    font-size: 12px;
  }
}
